html {
  height: 100%;
  overflow: hidden;
}

body {
  background: #F7F8F8;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: auto;
}

* {
  // smooth scrolling IOS.
  -webkit-overflow-scrolling: touch;
}
