html {
  height: 100%;
  overflow: hidden;
}

body {
  background: #F7F8F8;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: auto;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    align-self: center;
    font-size: 2rem;
    margin: 0.8rem;
  }

  &__body {
    align-self: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    min-width: 600px;
    width: 90%;
  }
}
