.article-board {
  align-self: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &__loading-div {
    align-self: center;
  }

  &__load-btn {
    align-self: center;
    background: white;
    color: #232b2b;
    margin-top: 1rem;
    padding: 0.75rem;
    width: 40%;
  }

  &__chunk-header {
    align-self: center;
    color: #232b2b;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .article-board {
    margin: 2rem;
    padding: 0.5rem;

    &__load-btn {
      align-self: center;
      background: none;
      color: #232b2b;
      margin-top: 2rem;
      width: 100%;
    }
  }
}
