.article {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: 0.5rem;

  &__title {
    color: #232b2b;
    font-weight: 500;
    text-decoration: none;
  }

  &__url {
    color: gray;
    font-size: 0.7rem;
  }
}
