.article {
  border: solid;
  border-width: 1px;
  border-color: black;
  margin: 0.35em;
  padding: 1em;

  &__title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px;
  }

  &__url {
    font-size: 0.7rem;
    text-decoration: none;
  }

  &__summary {
    padding: 8px;
  }
}